.App {
  font-family: sans-serif;
  text-align: center;
}
/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#page-number {
  font-size: 18px;
  font-weight: bold;
}

.paginationPage {
  cursor: pointer;
  padding: 15px;
  margin: 4px;
  height: 18px;
  width: 18px;
}
.seclected {
  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
}
